@font-face {
    font-family: "Author";
    src: url('fonts/authorweb-regular.eot');
    src: url('fonts/authorweb-regular.eot?#iefix') format("eot"),url('fonts/authorweb-regular.woff') format("woff"),url('fonts/authorweb-regular.ttf') format("truetype"),url('fonts/authorweb-regular.svg') format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family:"Author";src:url('fonts/authorweb-regular.eot');src:url('fonts/authorweb-regular.eot?#iefix') format("eot"),url('fonts/authorweb-regular.woff') format("woff"),url('fonts/authorweb-regular.ttf') format("truetype"),url('fonts/authorweb-regular.svg') format("svg");font-weight:bold;font-style:normal
}

