.panel {
    margin: 0 auto;
    width: 66%;
    display: inline-block;
    position: relative;
    background-color: #eec07d;
    margin-top: 2em;
    border: 1px dotted #ed541b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}

.panel figure {
    float: left;
    margin-right: 18px;
    width: 120px
}

.panel p {
    font: bold 1.5em Courier, "Lucida Sans Typewriter", "Lucida Typewriter", "Courier New", "American Typewriter";
    color: #1a1a1a;
    text-align: left;
    margin-top: 0.5em
}

.panel a {
    text-decoration: none;
    display: block;
    padding: 10px
}

.panel a:link {
    background-color: #eec07d
}

.panel a:visited {
    background-color: #eec07d
}

.panel a:hover {
    background-color: #e9eff1
}

.panel a:active {
    background-color: #e9eff1
}
